<app-header title="alert"></app-header>

<ion-content class="ion-padding">

	<div class="container">
		<ion-button expand="block" shape="round" (click)="presentAlert()">
			Normal
		</ion-button>
		<ion-button expand="block" shape="round" (click)="presentAlertMultipleButtons()">
			Multiple Botones
		</ion-button>
		<ion-button expand="block" shape="round" (click)="presentAlertConfirm()">
			Confirmación
		</ion-button>
		<ion-button expand="block" shape="round" (click)="presentAlertPrompt()">
			Entrada de Texto
		</ion-button>
		<ion-button expand="block" shape="round" (click)="presentAlertRadio()">
			Radio
		</ion-button>
		<ion-button expand="block" shape="round" (click)="presentAlertCheckbox()">
			Checkbox
		</ion-button>
	</div>

</ion-content>